.spinner {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.spinner:after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0;
  border-radius: 50%;
  border: 0.3rem solid var(--button-red);
  border-color: var(--button-red) transparent var(--button-red) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}