.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 18.6rem;
}

.sidebar.open {
	display: flex;
}

.sidebar .close {
	font-size: 2rem;
	font-weight: 900;
	position: absolute;
	top: 3rem;
	left: 3rem;
	cursor: pointer;
	display: none;
}

.sidebar.open .close {
	display: block;
}

.sidebar .account {
	display: none;
}

.sidebar .content {
	display: flex;
	flex-direction: column;
}

.sidebar .content .menu {
	display: flex;
	flex-direction: column;
}

.sidebar .content .menu .item {
	padding: 2rem 0.5rem 2rem 3.8rem;
	font-size: 1.4rem;
	position: relative;
}

.sidebar .content .menu .item.active {
	color: var(--button-red);
	font-weight: 700;
}

.sidebar .content .menu .item:nth-child(1)::before,
.sidebar .content .menu .item:nth-child(2)::before,
.sidebar .content .menu .item:nth-child(3)::before,
.sidebar .content .menu .item:nth-child(4)::before {
	content: "";
	position: absolute;
	left: 0;
	top: 25%;
	width: 2.4rem;
	height: 2.4rem;
	-webkit-mask-image: url("/images/sidebar/trade.svg");
	mask-image: url("/images/sidebar/trade.svg");
  background-color: var(--black);
}

.sidebar .content .menu .item.active:nth-child(1)::before,
.sidebar .content .menu .item.active:nth-child(2)::before,
.sidebar .content .menu .item.active:nth-child(3)::before,
.sidebar .content .menu .item.active:nth-child(4)::before {
  background-color: red;
}

.sidebar .content .menu .item:nth-child(2)::before {
  -webkit-mask-image: url("/images/sidebar/reserves.svg");
	mask-image: url("/images/sidebar/reserves.svg");
}

.sidebar .content .menu .item:nth-child(3)::before {
  -webkit-mask-image: url("/images/sidebar/parthners.svg");
	mask-image: url("/images/sidebar/parthners.svg");
}

.sidebar .content .menu .item:nth-child(4)::before {
  -webkit-mask-image: url("/images/sidebar/faq.svg");
	mask-image: url("/images/sidebar/faq.svg");
}


@media screen and (max-width: 860px) {
	.sidebar {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgb(255, 255, 255);
		top: 0;
		left: 0;
		z-index: 30;
		display: none;
	}

	.sidebar .content {
		padding: 10rem 3rem 0;
	}

	.sidebar .account {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		margin-top: 2rem;
	}
}