.alert {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.alert.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert .modal {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(88, 191, 249, 0.204) 0px 14px 20px;
  position: relative;
}

.alert .modal .close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.6rem;
  color: red;
  cursor: pointer;
}

.alert .modal .content {
  padding: 2rem;
  min-width: 30rem;
}

.alert .modal .content .title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.alert .modal .content .description {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}