.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 2rem;
}

.layout .content {
  max-width: 114rem;
  width: 100%;
  min-height: calc(100vh - 30rem);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.8rem;
}

.layout .content .block {
  display: flex;
  flex-direction: column;
  width: 100%;
}